body {
  background: #fff;
  font-size: 0.4rem;
}

.hotBrand {
  border-bottom: 1px solid #d7d7d7;
}

.hotBrand h3 {
  line-height: 0.6933333333333334rem;
  font-size: .35rem;
  font-weight: normal;
  background: #efeff4;
  color: #999;
  padding: 4px 0 4px 16px;
}

.hotList .item {
  display: block;
  padding: .2rem .4rem .4rem .2rem;
  display: -webkit-box;
}

.hotList .item:first-child {
  border-bottom: 1px solid #E2E2E2;
  padding-top: .4rem;
  padding-bottom: .2rem;
}

.hotList a {
  -webkit-box-flex: 1;
  box-flex: 1;
  text-align: center;
  display: block;
}

.hotList a img {
  width: 1rem;
  height: 1rem;
}

.hotList p {
  color: #666;
  line-height: 0.8rem;
}

.detialBrand a.title {
  display: block;
  height: 0.9rem;
  line-height: 0.9rem;
  background: #efeff4;
  padding-left: 10px;
  border-bottom: 1px solid #d7d7d7;
}

.detialBrand .detiCar a {
  display: block;
  height: 1.3rem;
  line-height: 1.3rem;
  padding-left: 1.5rem;
  position: relative;
  border-bottom: 1px solid #d7d7d7;
}

.detialBrand .detiCar a.selected {
  border-left: 5px solid #df4338;
}

.detialBrand .detiCar img {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: .2rem;
  transform: translateY(-50%);
}

.detialBrand .detiCar span {
  color: #333;
  padding-left: 10px;
}

.slideBar {
  position: fixed;
  top: 1.6rem;
  right: 0;
  bottom: 0;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.slideBar ul {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: column;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.slideBar ul li {
  line-height: normal;
  -webkit-box-flex: 1;
  box-flex: 1.0;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #666;
  font-size: 12px;
  text-transform: uppercase;
  width: 30px;
  text-align: center;
}

.wrap {
  position: relative;
  z-index: 1;
}

.section2, .section2_1, .section3, .section4, .section5, .section6 {
  opacity: 0;
  position: fixed;
  top: 1.5rem;
  width: 100%;
  height: 0;
  transition: all 0.2s ease;
  background: #f8f8f8;
}
.section2.active, .section2_1.active, .section3.active, .section4.active, .section5.active, .section6.active {
  opacity: 1;
}

.section2 {
  z-index: 10;
}

.section2_1 {
  z-index: 11;
}

.section3 {
  z-index: 12;
}

.section4 {
  z-index: 13;
}

.section5 {
  z-index: 14;
}

.section6 {
  z-index: 15;
}

.tips {
  padding-right: 0.8rem;
  position: relative;
}
.tips:after {
  position: absolute;
  content: "";
  display: block;
  width: 0.45333rem;
  height: 0.45333rem;
  right: 0.26667rem;
  top: 50%;
  margin-top: -0.22667rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAMAAAANmfvwAAAAVFBMVEXmIzr////mIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzrmIzr9LIVlAAAAG3RSTlMAABARICIwM0BEVWBmd4CImaCqsLvAzNDd7vAt+LEMAAABKklEQVQ4y42UUZPCIAyEl4K1HpYaMdSy//9/3oNaoHXumieS+WZ2AwlACedFSVLFu7VoTAGGSGaVEEQzGYcd4pRZ+k/WS6a6FvGZoas00QVmXyPCuccm+plSEKF02EUXKR/EM+JrRPoX4vLcfUe6OTtjACiLDztO03QpfqjGAAPDWhoXkuTDfgqBgwFiXmVGLuPJXhMfq1SOBo6yqizLGQDsk6uW0MEXJyPvr8PEqbjxkFw6uJ53CLJAdd9sKkJQRbGyxq3YBYSoWn6bvjPZkoY9YhNvFYHAndC9svoW2tpdnm2u2jQNwDK1SJb66l53MraDRV8/wLcQuuYZAZymxm2X42YYgB+ybXnYjhQuKTVO9OhgHhhvQBj/WZIjq3ZkYY+s/ZHP448v6Bea5BbHuret0AAAAABJRU5ErkJggg==");
  background-size: 0.45333rem 0.45333rem;
  background-position: center;
  background-repeat: no-repeat;
}

._sectListBox {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}

.listA dd, .listA dt {
  line-height: 1.14667rem;
  padding: 0 0.26667rem;
  border-bottom: 1px solid #d7d7d7;
}
.listA dd {
  background: #fff;
  font-size: 0.4rem;
  color: #333;
}
.listA dt {
  color: #666;
  font-size: 0.34667rem;
  background: #efeff4;
}

.listB dd {
  background: #fff;
  padding: 0.26667rem;
  padding-right: .53333rem;
}
.listB dd:after {
  right: .15rem;
}
.listB h3 {
  color: #333;
  font-size: 0.37333rem;
  line-height: 0.58667rem;
  font-weight: 100;
}
.listB h5 {
  font-weight: 100;
  color: #999;
  font-size: 0.34667rem;
  line-height: 0.48rem;
}

.listpTop {
  padding-top: 0.26667rem;
}
.listpTop dd:first-child {
  border-top: 1px solid #d7d7d7;
}

.show_fdj_tipinfos dl {
  padding: .5rem .625rem;
}
.show_fdj_tipinfos i {
  font-style: normal;
}
.show_fdj_tipinfos dt {
  font-size: .46875rem;
  padding-bottom: .225rem;
  line-height: .7rem;
  color: #f22550;
}
.show_fdj_tipinfos i {
  color: #fff;
  display: inline-block;
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background: #f22550;
  margin-right: .2rem;
  text-align: center;
  line-height: .6rem;
  font-size: .3rem;
}
.show_fdj_tipinfos dd {
  font-size: .40625rem;
  padding-bottom: .225rem;
  color: #666;
  line-height: .6rem;
}
.show_fdj_tipinfos p {
  padding-bottom: .2rem;
}
.show_fdj_tipinfos p.img {
  text-align: center;
}
.show_fdj_tipinfos img {
  max-width: 100%;
  -webkit-touch-callout: none;
}
